django>=5.0
django-environ
chromadb
langchain
langchain-community
langchain-text-splitters
langgraph
google-generativeai
unstructured[docx,pdf,md,json]
python-magic-bin
python-dotenv
requests
chromadb
sentence-transformers