{% extends "core/base.html" %}
    {% block title %}Search Candidates - {{ block.super }}{% endblock %}
    {% block content %}
        <h1>Search Candidates</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Search</button>
        </form>
        {% if candidates %}
            <h2>Search Results</h2>
            <ul>
                {% for candidate in candidates %}
                    <li>{{ candidate.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
                <p>No candidates found.</p>
        {% endif %}


        <p><a href="{% url 'ingestion:upload_document' %}">Upload a new CV document</a></p>
{% endblock %}